.under1_c{
    position: absolute;
    top: 580px;
    left: 50%;
    margin-left: 100px;
    width: 100px;
    height: 800px;
    background-color: silver;
}

.under2_java{
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: 100px;
    width: 100px;
    height: 180px;
    background-color: red;
}

.under2_git{
    position: absolute;
    top: 520px;
    left: 50%;
    margin-left: 100px;
    width: 100px;
    height: 150px;
    background-color: black;
}

.under2_c{
    position: absolute;
    top: 950px;
    left: 50%;
    margin-left: 100px;
    width: 100px;
    height: 200px;
    background-color: silver;
}

.under2_html{
    position: absolute;
    top: 700px;
    left: 55.5%;
    margin-left: 100px;
    width: 100px;
    height: 300px;
    background-color: orange;
}

.under2_css{
    position: absolute;
    top: 700px;
    left: 61%;
    margin-left: 100px;
    width: 100px;
    height: 300px;
    background-color: cornflowerblue;
}

.under3_java{
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: 100px;
    width: 100px;
    height: 640px;
    background-color: red;
}

.under3_matlab{
    position: absolute;
    top: 350px;
    left: 55.5%;
    margin-left: 100px;
    width: 100px;
    height: 250px;
    background-color: darkgoldenrod;
}

.under3_c_1{
    position: absolute;
    top: 590px;
    left: 55.5%;
    margin-left: 100px;
    width: 100px;
    height: 400px;
    background-color: silver;
}

.under3_openrtm{
    position: absolute;
    top: 780px;
    left: 61%;
    margin-left: 100px;
    width: 100px;
    height: 400px;
    background-color: darkslategray;
}

.under3_cpp{
    position: absolute;
    top: 1150px;
    left: 50%;
    margin-left: 100px;
    width: 100px;
    height: 650px;
    background-color: blue;
}

.under3_c_2{
    position: absolute;
    top: 1150px;
    left: 55.5%;
    margin-left: 100px;
    width: 100px;
    height: 400px;
    background-color: silver;
}

.under3_javascript{
    position: absolute;
    top: 1800px;
    left: 50%;
    margin-left: 100px;
    width: 100px;
    height: 300px;
    background-color: yellow;
}

.under3_css{
    position: absolute;
    top: 1800px;
    left: 55.5%;
    margin-left: 100px;
    width: 100px;
    height: 300px;
    background-color: cornflowerblue;
}

.under3_react{
    position: absolute;
    top: 1800px;
    left: 61%;
    margin-left: 100px;
    width: 100px;
    height: 300px;
    background-color: lightseagreen;
}

.graduate1_cpp{
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: 100px;
    width: 100px;
    height: 950px;
    background-color: blue;
}

.graduate1_javascript{
    position: absolute;
    top: 350px;
    left: 55.5%;
    margin-left: 100px;
    width: 100px;
    height: 950px;
    background-color: yellow;
}

.graduate1_css{
    position: absolute;
    top: 350px;
    left: 61%;
    margin-left: 100px;
    width: 100px;
    height: 950px;
    background-color: cornflowerblue;
}

.graduate1_react{
    position: absolute;
    top: 350px;
    left: 66.5%;
    margin-left: 100px;
    width: 150px;
    height: 950px;
    background-color: lightseagreen;
}

.graduate1_html{
    position: absolute;
    top: 1000px;
    left: 75%;
    margin-left: 100px;
    width: 100px;
    height: 300px;
    background-color: orange;
}

.graduate1_go{
    position: absolute;
    top: 1000px;
    left: 80.5%;
    margin-left: 100px;
    width: 100px;
    height: 300px;
    background-color: slategrey;
}

.graduate1_typescript{
    position: absolute;
    top: 1000px;
    left: 86%;
    margin-left: 100px;
    width: 100px;
    height: 300px;
    background-color: rgb(35, 112, 142);
}