header{
    display: flex;
    background-color: black;
    color: white;
    height: 80px;
}

.homelogo{
    width: 200px;
    text-align: center;
}

.header_menu{
    width: 200px;
    text-align: center;
    font-size: 20px;
}

.header_menu:hover{
    background-color: silver;
}

.header_menu:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
